

/************************** ASSINGMENT BY : ANIL BHUSAL *************/;

* {
  box-sizing: border-box;
}
body{
  font-family: "Comic Sans MS", Arial, serif;
}
h1{
  text-align : center;
  font-size: 175%;
  margin-bottom: 20px;
}
.row {
  width: 100%;
}
.content{
  border: 2px solid black;
  margin: 2% auto;
  width: 90%;
  height: 300px;
  position: relative;
  top: 25px;
  overflow: hidden;
}

#color1 {
  background-color: #B1B9FA;
}

#color2 {
  background-color: #B596E3;
}

#color3 {
  background-color: #96C4E3;
}

.content > h2{
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: 125%;
  width: 40%;
  margin:auto;
  padding: 0.5%;
  float:right;
}
.content > p {
  font-size: 100%;
  margin: 4%;
  width: 90%;
  clear: both;
  padding: 3px;
  overflow: hidden;
}

#first{
  background-color: pink;
}
#second{
  background-color: maroon;
  color: white;
}
#third{
  background-color: yellow;
}

@media (min-width: 992px) {
  .section {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section {
    float: left;
    width: 50%;
  }
  #last {
    float: left;
    width: 100%;
  }
  #last > .content {
    width: 95%;
  }
}
